*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Poppins;
}
body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}
#menu{
    background: #60626E;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0%;
}
#menu .logo{
    display: flex;
    align-items: center;
    color: white;
    /* padding: 30px 0 0 30px; */
    padding: 15px 0 0 27px
    }
#menu .logo img{
    width: 40px;
    margin-right: 15px;
}
#menu .items{
    margin-top: 40px;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}
#menu .items li:hover{
    background: #5060b9;
    cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid white;
}
#menu .items li a{
color: rgb(134, 141, 151);
width: 30px;
height: 30px;
line-height: 30px;
font-size: 14px;
margin: 0 10px 0 25px;
list-style: none;
transition: 0.3s ease;
}
#menu .items li:hover, 
#menu .items li:hover a{
color: white;
}
#menu .items li a img{
    width: 20px;
    margin-right: 22px;
    margin-left: 1pc;
}
#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DFE0EB;
    padding: 15px 30px;
    border-bottom:  1px solid #C5C7CD;
    position: fixed;
    width: calc(100% - 300px);

}
#interface .navigation .search{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 14px;
    border: 0.5px solid #C5C9CD;
    border-radius: 10px;
    width: 50pc;
    
}
#interface .navigation .search i{
    margin-right: 20px;
    color: #C5C9CD;
}

#interface .navigation .search input{
    border: none;
    outline: none;
     font-size: 14px;
     background: #DFE0EB;
     color: #C5C9CD;
     
}
#interface .navigation .profile{
    display: flex;
    justify-content: start;
    align-items: center;
}
#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.values .val-box{
    background-color: white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(53, 66, 40);
    color: white ;
    margin-right: 50px;
    border-radius: 50%;
}
.values .val-box:nth-child(1) i{
    background-color: #7b74ec;
}
.values .val-box:nth-child(2) i{
    background-color: #ec74d2;
}
.values .val-box:nth-child(3) i{
    background-color: #74ecb0;
}
.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: #444a53;
}
.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: white;
    border-radius: 8px;
}
.board img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.board h5{
    font-size: 14px;
    font-weight: 600;
}
.board p{
    font-size: 13px;
    font-weight: 300;
    color: #444a53;
    margin-bottom: 0px !important

}
.board .people{
    display: flex;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}
table{
    border-collapse: collapse;

}
tr{
    border-bottom: 1px solid #eef0f3;
}
thead td{
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 400;
 background: #F9FAFb;
 text-align: start;
 padding: 15px;
}
tbody tr td{
    padding: 10px 15px;
}
.active{
    background: #d7fada;
    padding: 10px 25px;
    display: table-caption;
    border-radius: 40px;
    color: rgb(46, 160, 46);
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(115, 53, 160);
    font-weight: 600;
}